body {
    font-family: Arial, sans-serif;
}

header.navbar {
    margin-bottom: 20px;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-link.active {
    font-weight: bold;
    color: #007bff !important;
}

.footer-links a {
    margin-right: 15px;
}

footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
