{% extends "base.html" %}

{% block title %}Products{% endblock title %}

{% block content %}
<style>
  .container{
    background-image: url('static/background/background_banner.png');
    background-size: cover;
    background-blend-mode: overlay ;
  }
  .product-image{
    height: 200px;
    object-fit: contain;
  }
  .card{
    max-height: 500px;
  }
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

</style>
<div class="container">
    <h1>Recommended Products </h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 ">
  {% for recproduct in recommendations %}
      {% for product in products %}
      {% if product.label == recproduct %}
      
        <div class="col-md-4 col-lg-3">
          <div class="card shadow d-flex flex-column">
          <a href="{% url 'product_detail' product.id %}">
            <img src="{{ product.image.url}}" class="card-img-top product-image" alt="{{ product.name }}" ></a>
          
          <div class="card-body flex-grow-1">
            
            <p  class="card-title fs-sm-1 truncate">{{ product.name }}</p>
            <p class="text-muted fs-sm-1 truncate">{{ product.description }}</p>
            <label for="" class="form-label">Price: </label>
            <p class="fs-sm-1 text-decoration-line-through">{{ product.price }}Rs/-</p>
            <p class=" fs-sm-1 truncate">{{ product.discount_price }}Rs/-</p>

           
          </div>
        </div>
      </div>
        {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
    </div>

{% endblock content %} 
